@import "../templates";
@import "../components/breadcrumbs";

.page.page--services {
    .section_banner {
        border-radius: 20px;
        background-image: var(--banner-bg);
        background-color: #DEEBF5;
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile() {
            border-radius: 0;
            background-image: none;
        }

        &__inner {
            padding: 23px 38px 41px;

            @include mobile() {
                padding: 30px 60px 26px 15px;
            }
        }

        &__title {
            @extend %page_title;
            margin-top: 50px;

            @include mobile() {
                margin-top: 30px;
            }
        }

        &__description {
            @extend %page_description;
            margin-top: 15px;

            @include mobile() {
                margin-top: 10px;
            }
        }
    }

    .section_services {
        @include flex-row;
        @include flex-wrap;
        @include gap(30px, 34px);
        padding: 30px 0 50px;

        @include mobile() {
            @include flex-column;
            @include gap(15px);
            padding: 20px 0 30px;
        }

        &__card {
            min-width: calc(33% - 34px * 3);
            border-radius: 20px;
            background: #EFF1F4;
            padding: 40px;
            text-decoration: none;

            @include mobile() {
                min-width: initial;
                padding: 30px 55px 28px 31px;
            }

            &__img {
                @include imgWrapper(140px);

                @include mobile() {
                    @include imgWrapper(190px);
                }

                img {
                    @include wrappedImage;
                }
            }

            &__title {
                margin-top: 30px;
                color: #2361A9;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 135%; /* 27px */
                letter-spacing: 0.4px;
                text-transform: uppercase;

                @include mobile() {
                    margin-top: 20px;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 135%; /* 22.95px */
                }
            }

            &__description {
                margin-top: 10px;
                color: #606B77;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px; /* 157.143% */
                letter-spacing: 0.28px;

                @include mobile() {
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px; /* 150% */
                    letter-spacing: 0.24px;
                }
            }

            &__link {
                display: inline-block;
                margin-top: 20px;
                color: #2361A9;
                font-family: Montserrat;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%; /* 14.17px */
                letter-spacing: 0.26px;
                text-transform: uppercase;

                @include mobile() {
                    margin-top: 15px;
                    font-size: 12px;
                    line-height: 109%; /* 13.08px */
                    letter-spacing: 0.24px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
